output/
.idea/
_windows/
colors/
codestyles/
vim_settings.xml
acceptedLanguageLevels.xml
colors.scheme.xml
debugger.xml
filetypes.xml
github.xml
ide.general.xml
project.default.xml
studioFlags.xml
wsl.distributions.xml